html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #323233; font-family: 'Times New Roman', serif; font-size: 16px; color: #222;}

.clear {clear: both;}


p {
	font-size: 16px;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #110f47;
}

span {
	font-size:25px;
	color:#110f47;
	font-weight:bold;
	text-decoration:underline;
	
}
#cv {
	width: 90%;
	max-width: 800px;
	background: #fff7d6;
	margin:25px auto;
}
#mainArea {
	padding 130px 40px;
}

.nameAndFoto {
	padding: 65px 40px;
	background: #fae5ac;
	border-radius: 0% 0% 30% 30%;
	text-indent: 50px;
	}
	
#foto {
	width: 20%;
	float: left;
	margin-right: 70px;
	
}

#foto img {
	width: 180px;
	border-radius: 50%;
}

#name h1 {
font-size: 40px;
font-weight: bold;
font-family: 'Times New Roman', serif;
}


.contactMe {
background: #fae5ac;
border-radius: 30% 30% 0% 0%;
padding: 0 px 50px;
}

#contact {
	float: left;	
	font-size: 22px;
	padding: 20px 0px 50px 500px;
}

#contact ul {
	list-style-type: none;
	font-size: 0.8em;
	margin-top: 2px;
	}
	
#contact ul li {
	margin-bottom: 3px;
	color: #444;
}

section{
	border-top: 3px solid #dedede;
	padding: 20px 0 0 0;
}

.sectionName {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 30px;
	}
	
.sectionInfo {
	float: right;
	width: 70%;
	line-height: 8mm;
	padding: 0px 5px 0px 0px;
}

.sectionName h1 {
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #270094;
	
}
.subDetails{
	font-size:16px;
	font-style: oblique;
	color:#360da6;
}
.sectionInfo h3 {
	font-family:'Times New Roman', serif;
	font-size: 20px;
	font-weight:500;
	}

.keySkills {
		font-style: oblique;
		font-weight: 600;
		column-count: 2;
		color: #110f47;
		
}

